#　データの永続化
##　SQLite
* 軽量データベースを実装する言語のライブラリ
* サーバ世のプロセスを必要としない，読み込み型のデータベースエンジン．
* 単一のファイルのよって管理される（インメモリも可能）

In [38]:
import sqlite3

In [39]:
# DBファイルの保存先
path = ''

# Google Colabの場合
# path = '/content/'

# DBファイル
db_name = 'test.db'

# DB接続の確立
# DBファイルの指定したパスにファイルが存在しない場合，新規作成される
conn = sqlite3.connect(path + db_name)

#DBへの接続を閉じる
conn.close()

## こういうデータベースを作成してみる

car.pb

| id | name | price |
| - | - | - |
|  |  |  |
|  |  |  |
|  |  |  |

##　テーブルを作成する

In [40]:
path = ''
db_name = 'car.db'

try:
    #DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    #SQL(RDBを制作するための言語)を実行するためのカーソルオブジェクトを作成
    cur = conn.cursor()
    #SQL文の作成
    # テーブルの作成
    sql= 'CREATE TABLE cars (id INT, name TEXT, price REAL);'

    # SQL文の実行
    cur.execute(sql)

except sqlite3.Error as e:
    print('エラーが発生しました:', e)

finally:
    #DBへの接続を閉じる
    conn.close

エラーが発生しました: table cars already exists

## データをDBに挿入する（単一レコード）

In [41]:
path = ''
db_name = 'car.db'

try:
    #DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    #SQL(RDBを制作するための言語)を実行するためのカーソルオブジェクトを作成
    cur = conn.cursor()

    #SQL文の作成
    #データの挿入
    #INSERT INTO テーブル名 VALUES (列に対応したデータをカンマ区切りで);
    #文字列データを挿入する場合は，文字列をシングルウォーテンションで挟む
    sql = "INSERT INTO cars (id, name, price) VALUES (1, '378z', 7000000);"

    # SQL文の実行
    cur.execute(sql)

    # 変更をDBに反映させる
    conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました:', e)

finally:
    #DBへの接続を閉じる
    conn.close()

In [42]:
path = ''
db_name = 'car.db'

try:
    #DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    #SQL(RDBを制作するための言語)を実行するためのカーソルオブジェクトを作成
    cur = conn.cursor()

    #SQL文の作成
    #複数レコードの挿入
    #INSERT INTO テーブル名 VALUES (列に対応したブレースホルダーをカンマ区切りで);
    sql = "INSERT INTO cars (id, name, price) VALUES (?, ?, ?);"

    cars = [
        (2,'911カレラ', 15500000),
        (3, 'GRスープラ', 8000000),
        (4, 'シビック Type-R', 5000000)
    ]

    # SQL文の実行
    #複数データ入れるときはexecutemanyを使う
    cur.executemany(sql, cars)

    # 変更をDBに反映させる
    conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました:', e)

finally:
    #DBへの接続を閉じる
    conn.close()

In [ ]:
path = ''
db_name = 'car.db'

try:
    #DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    #SQL(RDBを制作するための言語)を実行するためのカーソルオブジェクトを作成
    cur = conn.cursor()

    #データを参照するSQL
    #SELECT * FROM テーブル名;
    #＊の部分は、取得したい列の名前を区切りで指定することもできる
    sql = "SELECT * FROM cars;"

    # SQL文の実行
    cur.execute(sql)

    # 変更をDBに反映させる
    conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました:', e)

else:
    for row in cur:
        #行データ(row)はタプル型で取得される
        id, name, price = row
        print(id, name, price)


finally:
    #DBへの接続を閉じる
    conn.close()

1 Audi 52642.0
1 Audi 52642.0
1 378z 700000.0
1 378z 7000000.0
2 911カレラ 15500000.0
3 GRスープラ 8000000.0
4 シビック Type-R 5000000.0
1 378z 7000000.0
2 911カレラ 15500000.0
3 GRスープラ 8000000.0
4 シビック Type-R 5000000.0
1 378z 7000000.0
2 911カレラ 15500000.0
3 GRスープラ 8000000.0
4 シビック Type-R 5000000.0
1 378z 7000000.0
2 911カレラ 15500000.0
3 GRスープラ 8000000.0
4 シビック Type-R 5000000.0

## データの削除

In [46]:
path = ''
db_name = 'car.db'

try:
    #DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    #SQL(RDBを制作するための言語)を実行するためのカーソルオブジェクトを作成
    cur = conn.cursor()

    #データを参照するSQL
    #DELETE FROM テーブル名 WHERE id = 1;
    sql = "SELECT FEOM cars WHERE id = 1;"
    # sql = "DELETE FROM cars WHERE name = '911カレラ';"
    #カレラという文字列を含むデータを削除する
    # sql = "DELETE FROM cars WHERE name line 'カレラ';"

    # SQL文の実行
    cur.execute(sql)

    # 変更をDBに反映させる
    conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました:', e)


finally:
    #DBへの接続を閉じる
    conn.close()

エラーが発生しました: no such column: FEOM

In [47]:
path = ''
db_name = 'car.db'

try:
    #DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    #SQL(RDBを制作するための言語)を実行するためのカーソルオブジェクトを作成
    cur = conn.cursor()

    #データを参照するSQL
    #WHERE テーブル名　SET　カラム名=更新値 WHERE 更新したい行を指定する条件;
    sql = "UPDATE cars SET price = ? WHERE id = ?;"

    # SQL文の実行
    cur.execute(sql, (5000000, 2))

    # 変更をDBに反映させる
    conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました:', e)


finally:
    #DBへの接続を閉じる
    conn.close()